@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(222, 213, 203);
}
.content-text{
    text-indent: 10px;
}